@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <title>@title</title>

            <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

            <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

            <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

            <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">


            <!-- CSS Page Style -->
        <link rel="stylesheet" href="assets/css/pages/page_search.css">

            <!-- CSS Theme -->
        <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">

            <!-- CSS Customization -->
        <link rel="stylesheet" href="assets/css/custom.css">
    </head>

    <body>
            <!--=== Style Switcher ===-->
        <i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
        <div class="style-switcher animated fadeInRight">
            <div class="theme-close"><i class="icon-close"></i></div>
            <div class="theme-heading">Theme Colors</div>
            <ul class="list-unstyled">
                <li class="theme-default theme-active" data-style="default" data-header="light"></li>
                <li class="theme-blue" data-style="blue" data-header="light"></li>
                <li class="theme-orange" data-style="orange" data-header="light"></li>
                <li class="theme-red" data-style="red" data-header="light"></li>
                <li class="theme-light last" data-style="light" data-header="light"></li>

                <li class="theme-purple" data-style="purple" data-header="light"></li>
                <li class="theme-aqua" data-style="aqua" data-header="light"></li>
                <li class="theme-brown" data-style="brown" data-header="light"></li>
                <li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
                <li class="theme-light-green last" data-style="light-green" data-header="light"></li>
            </ul>
            <div style="margin-bottom:18px;"></div>
            <div class="theme-heading">Layouts</div>
            <div class="text-center">
                <a href="javascript:void(0);" class="btn-u btn-u-green btn-block active-switcher-btn wide-layout-btn">Wide</a>
                <a href="#" class="btn-u btn-u-green btn-block boxed-layout-btn">Boxed</a>
            </div>
        </div><!--/style-switcher-->
        <!--=== End Style Switcher ===-->

        <div class="wrapper">
                <!--=== Header ===-->
            <div class="header">
                    <!-- Topbar -->
                <div class="topbar">
                    <div class="container">
                            <!-- Topbar Navigation -->
                        <ul class="loginbar pull-right">
                            <li>
                                <a href="/signup">Sign Up</a>
                            </li>
                            <li class="topbar-devider"></li>
                            <li><a href="/userindex">Teste</a></li>
                            <li class="topbar-devider"></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                            <!-- End Topbar Navigation -->
                    </div>
                </div>
                    <!-- End Topbar -->

                    <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-bars"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img id="logo-header" src="assets/img/learn2playletterlogo.png" alt="Logo">
                            </a>
                        </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                    <!-- Home -->
                                <li class="dropdown active">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Home
                                    </a>
                                    <ul class="dropdown-menu">

                            </ul>
                                </li>
                                    <!-- End Home -->

                                    <!-- Pages -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Pages
                                    </a>
                                    <ul class="dropdown-menu">
                                            <!-- About Pages -->

                                    </ul>
                                </li>
                                    <!-- End Features -->

                                    <!-- Portfolio -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Portfolio
                                    </a>
                                    <ul class="dropdown-menu">
                            </ul>
                                </li>
                                    <!-- Ens Portfolio -->

                                    <!-- Blog -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Blog
                                    </a>
                                    <ul class="dropdown-menu">
                            </ul>
                                </li>
                                    <!-- End Blog -->

                                    <!-- Contacts -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Contacts
                                    </a>
                                    <ul class="dropdown-menu">
                            </ul>
                                </li>
                                    <!-- End Contacts -->

                                    <!-- Search Block -->
                                <li>
                                    <i class="search fa fa-search search-btn"></i>
                                    <div class="search-open">
                                        <div class="input-group animated fadeInDown">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn-u" type="button">Go</button>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                    <!-- End Search Block -->
                            </ul>
                        </div><!--/navbar-collapse-->
                    </div>
                </div>
                    <!-- End Navbar -->
            </div>
                <!--=== End Header ===-->
            @content